includes:
    - vendor/gacela-project/phpstan-extension/extension.neon

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/
        - %currentWorkingDirectory%/tests/
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Cannot cast mixed to *#'
        - '#Method Engineered\\.*Factory::get.* should return .*Interface but returns mixed#'
        - '#Method call to a different module is not allowed. Calling:Engineered, RefClasses:Engineered\\SprykerBridge#'

    gacela:
        modulesNamespace: Engineered
        excludedNamespaces:
            - EngineeredTests
